extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consequat orci sed libero iaculis, ac sagittis erat feugiat. Quisque pulvinar suscipit libero, in dapibus urna fermentum vel. Aliquam consequat cursus condimentum. Suspendisse ut felis erat. Donec pharetra metus sit amet vestibulum laoreet. Cras sit amet orci elit. Sed condimentum non sapien eu gravida. Vivamus vitae diam tempor, vehicula nunc nec, cursus nunc. Maecenas metus quam, sodales id risus sit amet, sollicitudin semper diam. Nam ac sapien diam. Pellentesque at mattis sapien, vitae ullamcorper elit. Etiam sit amet ex quis quam euismod semper eget et tellus.

                p Nam nulla sem, euismod id diam eget, sodales aliquam turpis. Maecenas tempor facilisis tincidunt. Ut vel rhoncus sapien. Phasellus sit amet turpis sed urna maximus accumsan non in felis. Morbi fringilla massa in leo rhoncus mollis. Nunc accumsan, lorem vitae pellentesque venenatis, augue neque tristique enim, at pulvinar enim metus eget turpis. Fusce tristique eleifend elit, at tristique nulla tincidunt sed. Aenean rutrum nulla ut tempus ultrices. Aenean vulputate sed orci vitae porttitor. Pellentesque vestibulum, urna ut interdum facilisis, libero lorem sodales lorem, eget finibus urna nisi a metus. Nam odio augue, gravida eget facilisis scelerisque, egestas ac massa. Nunc tempus ultrices urna. Nunc vel tellus ut nibh ornare pharetra id auctor tortor. Vestibulum bibendum quis dolor at commodo. In luctus a nisi ut imperdiet.

                p Phasellus sagittis arcu sit amet ipsum congue, molestie accumsan libero pulvinar. Nam eleifend felis nisl, eu interdum libero tincidunt ut. Proin in ante blandit sem iaculis elementum. Fusce consectetur tortor sit amet nisi blandit, ut accumsan ante blandit. Nunc auctor faucibus augue vitae finibus. Mauris a condimentum sem. Donec sed tempor libero. Aliquam malesuada interdum semper. Maecenas semper tincidunt nulla eget sollicitudin.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Phasellus sagittis arcu sit amet ipsum congue, molestie accumsan libero pulvinar.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Phasellus sagittis arcu sit amet ipsum congue, molestie accumsan libero pulvinar.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Phasellus sagittis arcu sit amet ipsum congue, molestie accumsan libero pulvinar.